xml-xsd/ejer10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="documentos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="documento" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="contraseña" type="validar">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="validar">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{8,12}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>