xml-xsd/ejer6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="fichas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ficha" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="edad" type="edadPersona">
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="numero" type="xs:int"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="edadPersona">
        <xs:restriction base="xs:int">
            <xs:minExclusive value="-1"></xs:minExclusive>
            <xs:maxExclusive value="131"></xs:maxExclusive>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
    
    