xml-xsd/ejer2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="booleano">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="aprobado" type="xs:boolean" default="true"></xs:element>
                <xs:element name="suspenso" type="xs:boolean" fixed="false"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>