xml-xsd/ejer3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="entradas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entrada" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
            <xs:attribute name="numero" type="xs:integer"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>