xml-xsd/ejer1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ciudades">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ciudad" type="xs:string"></xs:element>
                <xs:element name="fecha-de-nacimiento" type="xs:date"></xs:element>
                <xs:element name="hora" type="xs:time"></xs:element>
                <xs:element name="nota" type="xs:decimal"></xs:element>
                <xs:element name="apto" type="xs:boolean"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>